@import '../../../../variables';

.featured-post {
    background-color: white;
    display: flex;
    flex-direction: column;
}

md-toolbar{
    justify-content: center;
    align-items: center;
}

h2.post-title {
	letter-spacing: normal;
	text-transform: capitalize;
    text-align: center;
	line-height: 1.3;
	color: $Deep_Purple;
	font-size: 1.5em;
	cursor: pointer;
}

h2.post-title:hover {
	color: $primary-text-color;
}

h2.post-title a {
	color: inherit;
	text-transform: inherit; 
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	width: 100%;
    height: 14em;
}

.image-container img {
	width: 100%;
	height: auto;
}

.body-container {
	font-size: .9em;
	padding: .9em;
	line-height: 1.6em;
	color: #656d7f;

}