<div class="row">
	<div class="col-md-12">
		<div class="main-container">
			<div class="title">
				<label for="title">Title</label>
				<textarea name="title" [(ngModel)]="title" rows="" cols=""></textarea>
			</div>
			<ckeditor [(ngModel)]="post" [config]="{uiColor: '#F5F5F5', height: '500px'}" (change)="onChange($event)" debouce="500">
			</ckeditor>
		</div>
	</div>

	<div *ngIf="images.length !== 0"  class="col-md-12">
		<div class="main-container">
			<md-grid-list cols="4" rowHeight="250">
				<md-grid-tile *ngFor="let item of images" >
						<div class="image-container">
							<img [src]="item" alt="">
						</div>
						<p class="image-link">Imagelink: {{item}}</p>
				</md-grid-tile>
			</md-grid-list>
		</div>
	</div>

	<div class="col-md-12">
		<div class="row main-container">
			<div class="col-md-6 padded">
				<h3>Tags</h3>
				<app-tags [tagsList]="tagList" (tags)="selectedTags($event)" ></app-tags>
			</div>
			<div class="col-md-6 padded">
				<h3>Select Categories</h3>
				<app-category [categoryList]="categoryList" (category)="selectedCategory($event)" ></app-category>
			</div>
		</div>
		<div class="row button-container">
			<button (click)="onSubmit()">submit</button>
			<input type="file" (change)="file = $event" multiple >
			<button (click)=onUpload()>Upload</button>
		</div>
	</div>
	<div class="col-md-12">
		<label>Featured Post</label>
		<md-checkbox (change)="changeFeatured($event)" ></md-checkbox>
	</div>

	<div class="col-md-12">
		<div [innerHtml]="trustedPost" class="preview">
		</div>
	</div>

</div>