@import '../../../../admin_palette';

.main-container{
    display: flex;
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
    padding: 3em; 
    background-color: white;
}

.outer-container{
    width: 100%;
    background-color: #FFFDD0; 
}