@import '../../../../admin_palette';
a {
	cursor: pointer;
}

a:hover md-card .image-container .overlay {
    background-color: rgba($color: black, $alpha: 0.3)
}

md-card {
	height: 290px;
	width: 230px;
}

.demo-basic {
  padding: 0;
}

md-card .image-container{
	display: flex;
    position: relative;
	width: 230px;
	height: 130px;
	overflow: hidden;
	justify-content: center;
	align-items: flex-start;

}

md-card .image-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 500ms ease-in-out;
}

.image-container img{
	width: 100%;
	height: auto;
}


.demo-basic md-card-content {
    display: flex;
    padding: 16px;
    flex-direction: column;
}

.demo-basic md-card-content .random-line{
    align-self: flex-end;
    height: 2px;
    width: 100%;
    background-color: $accent-color;
}

md-card-content h4 {
    margin-bottom: 0;
    font-size: .9em;
}


md-card-content p {
    font-size: .9em;
	text-align: justify;
}

.fa{
	font-size: 1.2em;
}

.fa.featured{
	color: #FF4081;
}

.fa.not-featured{
	color: #BDBDBD;
}