<md-card class="demo-basic">
	<md-toolbar color="accent">Choose Tags</md-toolbar>
	<md-card-content>
		<div class="tag-list">
			<div class="tag-item" [ngClass]="validateChecked(tag._id)? 'checked':''" *ngFor="let tag of tagsList">
				<md-checkbox (change)="updateChecked(tag._id, $event)" [checked]="validateChecked(tag._id)">
					{{tag.name}}
				</md-checkbox>
			</div>
		</div>
	</md-card-content>
	<md-card-footer>
		<div class="add-tag">
			<md-input placeholder="Add New Tag" (keypress)="addTag($event)"></md-input>
		</div>
	</md-card-footer>
</md-card>