@import '../../../../admin_palette';

.demo-basic {
  padding: 0;
  height: 30em;
}


.demo-basic md-card-content,
.demo-basic md-card-footer {
  padding: 16px;
}

.category-list{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	height: 20em;
}

.category-item{
	display: flex;
	padding: .3em .8em;
	justify-content: flex-start;
	align-items: center;
	font-size: 1em;
}

.category-item.checked{
	background-color: $primary-color;
	color: $primary-color-text;
}

.category-item.checked md-checkbox{
	color: $primary-color-text;
}

.add-category{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1em;
}
.add-category md-input{
	width: 90%;
}