@import '../../../variables';

.featured-post {
	display: flex;
	flex-wrap: wrap;
	height: 25em;
	width: 100%;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 1px 3px 0 #D4D4D5,0 0 0 1px #D4D4D5;
}


.header{
	display: flex;
	width: 100%;
	align-items: center;
	height: 2em;
	background-color: $primary-color;
	color: $primary-color-text;
	font-size: 1.8em;
	padding-left: 1em;
	word-spacing: .1em; 
}

.image-container{
	width: 60%;
	height: auto;
	overflow: hidden;
}

.image-container img{
	width: 100%;
	height: auto;
}

.content-container{
	padding: 3em 3em;
	width: 40%;	
}

.content-container .title h3{
	font-size: 1.4em;
	line-height: 1.2;
	word-spacing: .1em;
	margin-bottom: .5em;
	color: $primary-text-color;
}

.content-container .body{
	width: 100%;
	font-size: 1em;
	color: $secondary-text-color;
	margin-bottom: 2em;
}

.content-container .footer {
	width: 100%;
}

.content-container .footer button {
	background-color: $accent-color;
	color: $primary-color-text;
}