<div class="main-container row Grid--gutters">
	<app-title class="col-md-12" (outTitle)="title = $event" (checked)="featured = $event"></app-title>
	<tinymce class="col-md-12" [id]="'editor'" (contentChange)="postContent = $event.value"></tinymce>

	<div class="col-md-12 ">
		<div class="row Grid--gutters">
			<app-category class="col-md-4" [categoryList]="categories$ | async" (newCategory)="addNewCategory($event)" (selectedCategory)="categoryContent = $event"></app-category>
			<app-tags class="col-md-4" [tagsList]="tags$ | async" (newTag)="addNewTag($event)" (selectedTags)="tagsContent = $event"></app-tags>
			<app-image-upload class="col-md-4" [imageList]="images$ | async" (imageUpload)="uploadImage($event)" (selectedImage)="mainPicture=$event"></app-image-upload>
		</div>
	</div>

	<div class="submit-button col-md-12">
		<button md-raised-button color="accent" (click)="onSubmit()"><i class="fa fa-cloud-upload"></i>Submit</button>
	</div>

</div>