.main-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85em;
}

.selection{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.selection app-Tags{
	width: 33%
}

.selection app-category{
	width: 33%
}

.selection app-image-upload{
	width: 33%
}

.submit-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.submit-button button i {
	margin-right: 5px;
}
